body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
  border-bottom: 2px solid orange;
}

ol {
  padding-left: 0;
}

.crumb {
  margin-right: 2em;
  display: inline;
}

a {
  color: orange;
}

a:visited {
  color: crimson;
}

input {
  display: block;
}

img {
  max-width: 300px;
}

.profile-btn {
  background-color: yellow;
  width: 90px;
  height: 40px;
}

section {
  display: flex;
  align-content: flex-start;
}

.hide {
  display: none;
}

.las-colinas {
  margin-left: 25%;
  margin-right: 25%;
}

h1 {
  text-align: center;
}
